# VITE_APP_MODE: Configure which part of the application to serve as the default index.
# Options: 'passenger', 'admin', 'driver'. If empty, it serves the portal view.
VITE_APP_MODE=passenger

# VITE_DATABASE_URL: The connection string or API URL for your database.
VITE_DATABASE_URL=

# VITE_API_BASE_URL: The URL of your deployed backend.
VITE_API_BASE_URL=

# VITE_GOOGLE_MAPS_API_KEY: Your Google Maps API Key for the Maps Javascript SDK
VITE_GOOGLE_MAPS_API_KEY=
