@import "tailwindcss";

@theme {
  --font-sans: 'Plus Jakarta Sans', sans-serif;
  --font-serif: 'Playfair Display', serif;

  --color-primary: #4f6f5a;
  --color-secondary: #fdf6e3;
  --color-accent-peach: #da8464;
  --color-accent-yellow: #ffe39f;
  --color-accent-pink: #e1ac99;

  --color-slate-50: #fdf6e3;
  --color-slate-100: #ece9d5;
  --color-slate-200: #dadbc8;
  --color-slate-300: #c9ceba;
  --color-slate-400: #a6b39f;
  --color-slate-500: #839883;
  --color-slate-600: #69836f;
  --color-slate-700: #4f6f5a;
  --color-slate-800: #374e3f;
  --color-slate-900: #202c24;
  --color-slate-950: #101612;
}

@layer base {
  body {
    @apply font-sans;
  }
  h1, h2, h3, h4, h5, h6 {
    @apply font-serif;
  }
}
